﻿<!-- Sidebar -->

<div class="bg-light border border-secondary" id="sidebar-wrapper">
    <div class="sidebar-heading"><strong><u>Admin</u></strong></div>
    <div class="list-group list-group-flush">
        <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" class="list-group-item list-group-item-action bg-light">
            Dashboard
        </a>
        <a asp-area="Administration" asp-controller="Player" asp-action="Index" class="list-group-item list-group-item-action bg-light">
            Player
        </a>
        <a asp-area="Administration" asp-controller="Team" asp-action="Index" class="list-group-item list-group-item-action bg-light">
            Team
        </a>
        <a asp-area="Administration" asp-controller="League" asp-action="Index" class="list-group-item list-group-item-action bg-light">
            League
        </a>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action bg-light">
            Home
        </a>
    </div>
</div>
<!-- /#sidebar-wrapper -->