@using BaseballStat.Common
@{
    this.ViewData["Title"] = "Admin Dashboard";
}

<h3>Welcome to Admin Dashboard!</h3>
<p>Here is a quick navigation:</p>
<div>
    <a asp-area="Administration" asp-controller="Player" asp-action="Index"
       class="list-group-item list-group-item-action bg-light">Players</a>

    <div class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Administration" asp-controller="Player" asp-action="AddPlayer">Add New Player</a>
    </div>

    <a asp-area="Administration" asp-controller="Teams" asp-action="Index"
       class="list-group-item list-group-item-action bg-light">Teams</a>

    <div class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Administration" asp-controller="Teams" asp-action="AddTeam">Add New Team</a>
    </div>

    <div class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Administration" asp-controller="Stadiums" asp-action="AddStadium">Add New Stadium</a>
    </div>

    <a asp-area="Administration" asp-controller="PlayerStatistic" asp-action="Index"
       class="list-group-item list-group-item-action bg-light">PlayerStatistic</a>
</div>
