@using BaseballStat.Common
@{
    this.ViewData["Title"] = "Admin Dashboard";
}


<style="background-image: url('@BaseballStat.Common.GlobalConstants.Images.AdminBackground')"</style> >
<div class="center-content">
    <h1>Admin Dashboard</h1>
    <h2>Welcome to Admin Dashboard!</h2>
    <p>Here is a quick navigation:</p>
</div>