@using BaseballStat.Common
@{
    this.ViewData["Title"] = "Admin Dashboard";
}

<style>
    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        background-image: url('@BaseballStat.Common.GlobalConstants.Images.AdminBackground');
        background-size: cover;
        background-position: center;
    }
</style>

<div class="center-content ">
    <h1>Admin Dashboard</h1>
    <h2>Welcome to Admin Dashboard!</h2>
    <p>Here is a quick navigation:</p>
</div>