@model BaseballStat.Web.ViewModels.LeagueStatistic.LeagueStatisticViewModel

@{
    ViewData["Title"] = "League Statistics";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card mb-3 w-100" style="max-width: 800px; background-color: #f8f9fa;">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-body text-center">
                    <h2 class="card-title">Statistics</h2>
                    <p class="card-text"><strong>Games:</strong> @Model.Games</p>
                    <p class="card-text"><strong>Wins:</strong> @Model.Wins</p>
                    <p class="card-text"><strong>Losses:</strong> @Model.Losses</p>
                    <p class="card-text"><strong>Titles:</strong> @Model.Titles</p>
                </div>
            </div>
        </div>
    </div>
</div>